body{
    background-color: rgb(210, 177, 241);
}
#form{
    background-color: white;
    width: 25%;
    margin:120px auto;
    padding: 50px;
    box-shadow: 10px 10px 5px rgb(82,11,77);
    border-radius: 6px;
}
#btn{
    color:rgb(0, 0, 0);
    background-color:rgb(210, 177, 241);
    padding:10px;
    font-size: large;
    border-radius: 10px;
}